<div class="shop-menu pull-right">
    <ul class="nav navbar-nav">
        <li><a asp-action="Checkout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
        <li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Cart</a></li>
        <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-lock"></i> Register</a></li>
        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Login</a></li>
    </ul>
</div>

