@using WebStore.Models
@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>

<body>
    <p>Employee Id: @ViewData["Employee"]</p>
    <a href="~/Home/Employees">Сотрудники</a>
</body>
</html>
